
@import url('../fonts');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    /*--Abel: 'Abel', cursive;*/
    /*--Anton: 'Anton', cursive;*/
    /*--Josefin : 'Josefin', cursive;*/
    /*--Lexend: 'Lexend', cursive;*/
    /*--Livvic : 'Livvic', cursive;*/
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

li, h2{
    color: gray;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    /*font-family: var(--Livvic);*/
    cursor: pointer;
}

span{
    /*font-family: var(--Abel);*/
}

.container{
    margin: 0 5vw;
}

.roomContainer{
    /*margin: 0 5vw;*/
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    /*background-color: white;*/
    border-radius: 10px;
    /*box-shadow: 0 5px 10px rgb(0 0 0 / 10%);*/
    /*border: solid black 1px;*/
}

.mainRoom{
    /*background-color: whitesmoke;*/

}
.text-gray{
    color: var(--text-gray);
}

p{
    /*font-family: var(--Lexend);*/
    color: var(--text-light);


    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}





/* --------------- Site title ---------------- */
main .siteTitle{
    background: url('public/images/background/hostel.jpg');
    background-repeat: no-repeat;
    background-color: #f7fafc;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
}



main .siteTitle .siteBackground{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .siteTitle h1, h3{
    margin: .3rem;
}

main .siteTitle .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .siteTitle .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */

/* --------------- Blog Carousel ------------ */

main .blog{
    /*background: url('../assets/Abract01.png');*/
    background-color: #6b7280;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .roomPost{
    padding-top: 6rem;
}
.roomImg{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

main .roomPost .roomContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18rem;
    margin: 50px 50px 10px 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background-color: white;
}

main .roomContent .roomTitle{
    padding: 2rem 0;
}

main .roomContent .btnRoom{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .roomContent span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */


/*Payment Page Styles*/
.payment-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /*min-height: 100vh;*/
    /*height: auto;*/
}

.payment-form{

    width: 60%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    margin: 0 20px;
    padding: 20px 30px;
    height: 80vh;
}
.payment-details{
    width: 27%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    margin: 0 20px;
    padding: 20px 30px;

}

.payment-details-item{
    min-height: 40vh;
    width: 100%;
    margin-bottom: 20px
}

.payment-details-item p{
    margin-top: 3px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 520px) {
.payment-form{
width: 90%;
    margin-top: 10px;
    height: auto;
}
    .payment-details{
        margin-top: 10px;
        width: 90%;
    }

}

/************************ Hostel Page Style***************************************/


.multi-select{
    width: 100%;
    border-radius: 10px;

}

p, h2{
    /*color: #313131;*/
    /*color: grey;*/
    color: black;
}

p{
    color: grey;

}

.search-holder{
    width: 90%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    margin: auto;

}
.search-box{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: lightgrey solid 1px;

}

.search-button-container{
    margin:auto;
    margin-top: 20px;
    /*width: 20%;*/
    display: flex;
    justify-content: center;
}

.search-button{
    height: 40px;
    font-size: 15px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    /*padding: 10px 20px 10px 20px;*/
    width: 200px;
    /* max-width: 190px; */
    text-align: center;
    /*display: inline-block;*/
    /*margin-top: 210px;*/
    transition: ease-in all 0.5s;
    border-radius: 10px;
}

.hostel-top-img{
    width: 95%;
    margin-left: 35px;
    vertical-align: middle;
    height: 40vh;
    /*background-color: black;*/
    animation: transitionIn 1s;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
@keyframes transitionIn {
    from {
        margin-top: 5vh;
        width: 42%;
        margin-left: 52%;
        height: 95vh;

    }
    to {
        /*transform: translateX(10px);*/
        /*margin: auto;*/
    }
}

.featured-top-img{
    width: 95%;
    margin-left: 35px;
    vertical-align: middle;
    height: 40vh;
    /*background-color: black;*/
    animation: transitionLeft 1s;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

@keyframes transitionLeft {
    from {
        margin-top: 5vh;
        width: 42%;
        margin-right: 52%;
        height: 95vh;

    }
    to {
        /*transform: translateX(10px);*/
        /*margin: auto;*/
    }
}
.hostel-container{
    display: flex;
    flex-direction: column;
}
.hostel-item{
    width: 90%;
    margin: auto;
    min-height: 40vh;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;


}
.hostel-img{
    background-color: black;
    height: 40vh;
    /*height: 100%;*/
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);

    width: 400px;
    border-radius: 10px;
}

.hostel-search{
    width: 90%;
    height: 30vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: 10px auto auto;
    background-color: white;

}
.hostel-details{
    /*background-color: blue;*/
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    height: 40vh;
    width: 650px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}
.hostel-ratings{
    /*background-color: darkcyan;*/
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    min-height: 40vh;
    height: auto;
    width: 250px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.hostel-ratings p, h2, h1, h3{*/
/*    color: white;*/
/*}*/

@media only screen and (max-device-width: 1366px) {
    .hostel-price {
        margin-top: 10px;
        /*background-color: blue;*/
    }
    .hostel-details{
        height: auto;
    }
}

/*@media only screen and (max-width: 520px) {*/
/*    .hostel-price {*/
/*        margin-top: 0;*/
/*        !*background-color: blue;*!*/
/*    }*/
/*    .hostel-details{*/
/*        height: auto;*/
/*    }*/
/*}*/
.hostel-price{
    margin-top: 100px;
}
.view-hostel {
    height: 40px;
    font-size: 17px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding:7px;
    width: 100%;
    /*max-width: 190px;*/
    text-align: center;
    display: inline-block;
    /*margin-top: 210px;*/
    transition: ease-in all 0.5s;
    border-radius: 10px;
}
/*********************** Appointment page style******************************/
.mobile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /*width: 40%;*/

}

.mobile-form-container{
    height: 75vh;
    padding: 30px;
    width: 34%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;

}

.appointment-form-container form{
    margin-top: 50px;
}

.appointment-form-container h2{
    display: flex;
    justify-content: center;
}

/***************************** Appointment style end *******************************/



/******************************** Chat style start *********************************/



.mobile-background{
    background: linear-gradient(180deg, rgba(50,178,248,1) 33%, rgba(21,150,252,1) 54%);
    height: 92vh;
    overflow: hidden;
}

/*******************************************88*/
